/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/* Timer */
.controls {
  margin-top: 20px;
  margin-bottom: 32px;
  display: flex;
  gap: 8px;
}

input#datetime-picker {
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}

button[data-start] {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[data-start]:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  line-height: 1.2;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
}

/* Snackbar */
.form {
  max-width: 360px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}

.form input[type='number'] {
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}

fieldset {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

fieldset legend {
  padding: 0 8px;
}

fieldset label {
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.form button[type='submit'] {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button[type='submit']:hover {
  background-color: #6c8cff;
}
